@import 'Table.css';
@import 'Variables.css';
@import 'Form.css';
@import 'PageHeader.css';
@import 'Sidebar.css';
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
  border: none;
}
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}
menu,
ol,
ul {
    padding-left: 0;
}
article ol,
article ul {
    list-style-position: inside;
}
a{
  text-decoration: none;
}
a:visited,a:link{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:hover{
  text-shadow:
  1px 1px 2px white,
  0 0 3em white,
  0 0 1em hsl(var(--accent),var(--off-white));
}
html {
  font-size: 62.5%; 
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  #container{
    display:grid;
    grid-template-columns: 35rem 1fr ;
  }
  #sidebar{
    font-size: 3.2rem;
  }
  header{
    text-align: center;
    margin:0 0 2rem 0;
  }
  button:hover{
    cursor:pointer;
  }
 

  h1{
    font-size: 4rem;
    margin:0;
  }
  h2{
    font-size: 2rem;
    margin:0;
  }
  #page-container{
    font-size: 1.6rem;
    width: fit-content;
    margin:auto;
  }