#page-header img {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    filter: invert(83%) sepia(12%) saturate(387%) hue-rotate(129deg) brightness(89%) contrast(89%);
}

#page-header h1 {
    display: inline;
}

#page-header form {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    display:inline;

}

#page-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#icon-container a{
    padding:0;
}
#page-header h1{
    font-size:6rem;
    text-shadow: var(--text-shadow-light);
    margin-right: 5rem;
}