#page-header img{
    width:5rem;
    height: 5rem;
    margin:1rem;
    filter: invert(83%) sepia(12%) saturate(387%) hue-rotate(129deg) brightness(89%) contrast(89%);}
#page-header h1{
    display: inline;
} 

#page-header{
    display:flex;
    width:100%;
    justify-content:space-between;
}

#icon-container{
}